<% #inst admin data only applies to digital inst %>
<% if presenter.model_name.name == 'DigitalInstantiation' && presenter.display_admin_data? %>
  <div class="block">
    <a class="btn btn-default btn-block header collapsed" role="button" data-toggle="collapse" href="#collapse-<%= t('.aapb_admin').parameterize.underscore %>" aria-expanded="false" aria-controls="collapse-<%= t('.aapb_admin').parameterize.underscore %>">
      <%= t('.aapb_admin') %>
    </a>
    <div class="collapse" id="collapse-<%= t('.aapb_admin').parameterize.underscore %>">
      <div>
        <dl>
          <%= presenter.attribute_to_html(:aapb_preservation_lto, html_dl: true) %>
          <%= presenter.attribute_to_html(:aapb_preservation_disk, html_dl: true) %>
          <%= presenter.attribute_to_html(:md5, html_dl: true) %>
        </dl>
      </div>
    </div>
  </div>
<% end %>