<%# Form UI behavior code and details;
Code:
  app/assets/javascripts/hyrax/relationships
CSS:
  [data-behavior="remove-relationship"] : Button to remove its parent TR from the table
  [data-behavior="add-relationship"] : Button to clone its parent TR and inject a new row into the table
  .message.has-warning : Used to display UI errors related to input values and server errors
HTML Properties:
  table:
    [data-behavior="child-relationships"] : allows the javascript to be initialized
    data-param-key : the parameter key value for this model type
%>
<div class="form-group multi_value optional managed">
  <table class="table table-striped related-files" data-behavior="child-relationships" data-param-key="<%= f.object.model_name.param_key %>">
    <thead>
    <tr>
      <th><%= Asset.human_readable_type.pluralize %></th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
      <%= f.fields_for :assets do |asset_form_builder| %>
        <tr>
          <td>
            <%= link_to asset_form_builder.object.title.first, [main_app, asset_form_builder.object] %>
          </td>
          <td>
            <a class="btn btn-danger" data-behavior="remove-relationship" data-index="<%= asset_form_builder.index %>">Remove</a>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= render "find_asset_widget", f: f,
                                         name: 'child_asset',
                                         id: f.object.model.id %>
          <div class="message has-warning hidden"></div>
        </td>
        <td>
          <a class="btn btn-primary" data-behavior="add-relationship">Add</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/x-tmpl" id="tmpl-child-work">
<tr>
  <td>{%= o.title %}</td>
  <td><button class="btn btn-danger" data-behavior="remove-relationship">Remove</button></td>
</tr>
</script>
