<!--
  Overwrites view from hyrax-batch_ingest to add link to view all
  Assets associated with the batch.
-->

<!-- TODO: find a way to move this css into correct place -->
<style type="text/css">
  .batch_sort_asc::after {
    content: ' ▲';
  }
  .batch_sort_desc::after {
    content: ' ▼';
  }
</style>

<h1><span class="fa fa-copy"></span>Batch Details</h1>

<dl>
  <dt>Ingest Type:</dt>
  <dd><%= @presenter.ingest_type %></dd>
  <dt>Submitter:</dt>
  <dd><%= @presenter.submitter_email %></dd>
  <dt>Admin Set:</dt>
  <dd><%= @presenter.admin_set_title %></dd>
  <% if @presenter.error.present? %>
    <dt>Error:</dt>
    <dd><%= @presenter.error %></dd>
  <% end %>
</dl>

<dl>
  <dt><%= link_to "View All Assets", "/catalog?f[hyrax_batch_ingest_batch_id_tesim][]=#{@presenter.id}&locale=en&q=&search_field=all_fields" %></dt>
</dl>

<div class='table-responsive'>
  <table class='table table-condensed'>
    <thead>
      <tr>
        <th scope='col'><%= sort_link_to('Status', 'status') %></th>
        <th scope='col'><%= sort_link_to('ID Within Batch', 'id_within_batch') %></th>
        <th scope='col'><%= sort_link_to('Object Type', 'object_type') %></th>
        <th scope='col'><%= sort_link_to('Repository ID', 'repo_object_id') %></th>
      </tr>
    </thead>
    <tbody>
      <% @batch_items.each_with_index do |batch_item, index| %>
        <%= render 'batch_item', presenter: Hyrax::BatchIngest::BatchItemPresenter.new(batch_item), index: index %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @batch_items %>
</div>
