<tr class="batch-row">
  <td><%= comparison["id"] %></td>
  <td><%= comparison["ams1"]["digital_instantiations"] %></td>
  <td><%= comparison["ams2"]["digital_instantiations"] %></td>
  <td><%= comparison["ams1"]["physical_instantiations"] %></td>
  <td><%= comparison["ams2"]["physical_instantiations"] %></td>
  <td><%= comparison["ams1"]["essence_tracks"] %></td>
  <td><%= comparison["ams2"]["essence_tracks"] %></td>
</tr>