<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Export <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to("Asset Report",catalog_export_path({:format=>"csv", :object_type=>"asset"}.merge(search_state.to_h))) %></li>
    <li><%= link_to("Digital Instantiation Report",catalog_export_path({:format=>"csv", :object_type=>"digital_instantiation"}.merge(search_state.to_h))) %></li>
    <li><%= link_to("Physical Instantiation Report",catalog_export_path({:format=>"csv", :object_type=>"physical_instantiation"}.merge(search_state.to_h))) %></li>
    <li><%= link_to("PBCore XML",catalog_export_path({:format=>"pbcore"}.merge(search_state.to_h))) %></li>
  </ul>
</div>

<% if request.env['QUERY_STRING'] && request.env['QUERY_STRING'].present? %>
  <a class="aapb-push-button" href="/pushes/transfer_query?<%= request.env['QUERY_STRING'] %>">Push To AAPB</a>
<% end %>