<%
# TODO upgrade cleanup: Verify if this can be deleted.
# Overwrites Hyrax Gem's version of
# app/views/catalog/_index_list_default.html.erb to explicitly show display
# dates, identifying data, and display descriptions, when present.
# NOTE: if Hyrax's version of _index_list_default.html.erb changes, then this
# view will have to be updated to reflect those changes if so desired.
%>

<%
# I couldn't find anything that the override was affecting so I put the normal Hyrax view here for now.
# All the dates seem to show up and Collections don't even show up in the catalog search.
# If this poses no problems, we can delete this file.
%>
<div class="col-md-9 col-lg-6">
  <div class="metadata">
    <dl>
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
        <div class="row">
          <dt class="col-5 text-right" data-solr-field-name="<%= field_name %>"><%= render_index_field_label document, field: field_name %></dt>
          <dd class="col-7"><%= doc_presenter.field_value field %></dd>
        </div>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
<% if document.collection? %>
  <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
  <div class="col-md-12 col-lg-3">
    <div class="collection-counts-wrapper">
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Collections
      </div>
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_works %></span>Works
      </div>
    </div>
  </div>
<% end %>
