<div class="modal fade" id="newRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 id="extraFieldsModal_<%= %>_Label"><%= t('hyrax.dashboard.manage_role.add_user') %></h2>
      </div>
      <%= bootstrap_form_tag :url=> role_management.role_users_path(@role), :html=> { style: "display:inline;" } do |f| %>
        <div class="modal-body">
          <div class="modal-body">
            <ul class="errors"></ul>
            <div class="form-Role">
              <%= f.select :user_key,
                           options_from_collection_for_select(@users, 'email', 'email'),
                           { prompt: "#{t('hyrax.dashboard.manage_role.select_user')}" },
                           class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit t('hyrax.dashboard.manage_role.add'), class: "btn btn-primary" %>
            <%= link_to t('hyrax.dashboard.manage_role.cancel'), "#", class: "btn", data: {dismiss: "modal"} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
