<% if presenter.display_aapb_admin_data? %>
  <div class="block">
  <a class="btn btn-default btn-block collapsed" role="button" data-toggle="collapse" href="#collapse-<%= t('.aapb_admin').parameterize.underscore %>" aria-expanded="false" aria-controls="collapse-<%= t('.aapb_admin').parameterize.underscore %>">
      <%= t('.aapb_admin') %>
  </a>
        <div class="collapse" id="collapse-<%= t('.aapb_admin').parameterize.underscore %>">
          <div class="well">
            <dl>
              <%= presenter.attribute_to_html(:level_of_user_access, html_dl: true) %>
              <%= presenter.attribute_to_html(:minimally_cataloged, html_dl: true) %>
              <%= presenter.attribute_to_html(:outside_url, html_dl: true) %>
              <%= presenter.attribute_to_html(:special_collection, html_dl: true) %>
              <%= presenter.attribute_to_html(:transcript_status, html_dl: true) %>
              <%= presenter.attribute_to_html(:sonyci_id, html_dl: true) %>
              <%= presenter.attribute_to_html(:licensing_info, html_dl: true) %>
              <%= presenter.attribute_to_html(:playlist_group, html_dl: true) %>
              <%= presenter.attribute_to_html(:playlist_order, html_dl: true) %>
            </dl>
  </div>
        </div>
  </div>
<% end %>