<% if presenter.annotations.present? %>

<div class="block">
  <a class="btn btn-default btn-block header collapsed" id="tab-<%= t('.annotations') %>" role="button" data-toggle="collapse" href="#collapse-<%= t('.annotations') %>" aria-expanded="false" aria-controls="collapse-<%= t('.annotations') %>">
    <%= t('.annotations') %>
  </a>
  <div class="collapse" id="collapse-<%= t('.annotations') %>">
    <div class="well">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t('.annotation_type') %></th>
          <th><%= t('.ref') %></th>
          <th><%= t('.source') %></th>
          <th><%= t('.value') %></th>
          <th><%= t('.annotation') %></th>
          <th><%= t('.version') %></th>
        </tr>
        </thead>
        <tbody>
        <% presenter.annotations.each  do |annotation|  %>
        <tr>
          <td><%= annotation.try(:annotation_type) %></td>
          <td><%= annotation.try(:ref) %></td>
          <td><%= annotation.try(:source) %></td>
          <td><%= annotation.try(:value) %></td>
          <td><%= annotation.try(:annotation) %></td>
          <td><%= annotation.try(:version) %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
