<div class="hold">
<div class="holder">
  <h2><%= presenter.human_readable_type + " " + t('.details') %></h2>
  <dl class="work-show <%= dom_class(@presenter) %>" <%= presenter.microdata_type_to_html %>>
    <%= presenter.attribute_to_html(:description, html_dl: true) %>
    <%= render 'attribute_rows', presenter: @presenter %>
    <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date, html_dl: true) %>
    <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date, html_dl: true) %>
    <%= presenter.attribute_to_html(:license, render_as: :license, html_dl: true) %>
  </dl>
</div>
  <div class="details">
    <%= render 'contributions', presenter: @presenter %>
    <%= render 'aapb_admindata', presenter: @presenter %>
  </div>
</div>