<style>
  #webhook_logs thead {
    border-bottom: solid 1px #888;
  }

  #webhook_logs tr {
    padding: 3px 0;
  }

  #webhook_logs td, th {
    padding-right: 10px;
  }
</style>

<p id="notice"><%= notice %></p>

<h1>Sony Ci Webhook Logs</h1>

<table id="webhook_logs">
  <thead>
    <tr>
      <th>#</th>
      <th>Webhook</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sony_ci_webhook_logs.each_with_index do |sony_ci_webhook_log, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= sony_ci_webhook_log.action %></td>
        <td><%= sony_ci_webhook_log.created_at.strftime('%D') %></td>
        <td><%= link_to 'Show', sony_ci_webhook_log %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
