<% provide :page_header do %>
  <h1><span class="fa fa-edit"></span> <%= t('hyrax.dashboard.manage_role.create_role') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <%= bootstrap_form_for @role, :url => role_management.roles_path do |f| %>
        <div class="card-body">
          <%= f.text_field :name, :label => t('role-management.edit.field_name'), class: 'form-control' %>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <%= f.submit t('role-management.new.add'), class: 'btn btn-primary' %>
            <%= link_to t('role-management.edit.cancel'), role_management.roles_path, class: 'btn btn-default ml-2' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
