<% provide :page_title, @presenter.page_title %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'work_show/work_show' -%>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<div class="row work-type">
  <div class="col-sm-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-12">
    <%= render 'work_title', presenter: @presenter %>
    <%= render 'show_actions', presenter: @presenter %>
    <div class="card work-panel">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <%= render 'representative_media', presenter: @presenter %>
          </div>
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <div class="col-sm-12">
            <%= render 'metadata', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div><!-- /.card -->

    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t(".instantiations") %></h2>
      </div>
      <div class="card-body">
        <%= render 'instantiations', presenter: @presenter %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t('hyrax.base.show.relationships') %></h2>
      </div>
      <div class="card-body">
        <%= render 'relationships', presenter: @presenter %>
      </div>
    </div>


      <%# TODO: we may consider adding these partials in the future %>
      <%# = render 'sharing_with', presenter: @presenter %>
      <%# = render 'user_activity', presenter: @presenter %>
  </div>
</div>
